.DS_Store
.ipynb_checkpoints/
__pycache__/
QF627_PreCourse_*.ipynb
scratch/

# Files from lecture
QF620/Final Assignment/ETH
QF620/Final Assignment/RTH
QF620/Final Assignment/2025 Liberation Day Tariff Main Events.csv
Project (2026-27 T1).pdf